*{
  font-family: sans-serif;
}

.heading{
  text-align: center;
  color: #fff;
}

.flex{
  display: flex;
  display: inline-block;
  margin-left: 50px;
}

.main:hover{
  transform: scale(1.05, 1.05);  
}

body{
  background-color: black;
}

.main{
  margin-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border: 1px solid black;
  width: 100%;
  height: auto;
  display: flex;
  /* margin-left: 50px; */
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  border-radius: 5px;

}

.netflix_name{
  padding: 8px;
  color: #fff;
  margin-top: 5px;
  display: inline-block;

}

.series_name{
  padding: 8px;
  margin-top: 2px;
  display: inline-block;
  color: #fff;

}


.btn{
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  padding: 5px;
  margin: 8px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-family: sans-serif;
}


@media (max-width: 360px) { 

  .heading{
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
  }

  

  .flex{
    display: flex;
    display: inline-block;
    margin-left: 1px;
  }
  
  .main:hover{
    transform: scale(1.05, 1.05);  
  }
  
  body{
    background-color: black;
  }
  
  .main{
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    border: 1px solid black;
    height: auto;
    transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
    border-radius: 5px;
    margin-right: 100px;
  
  }
  
  .netflix_name{
    padding: 8px;
    color: #fff;
    margin-top: 5px;
    display: inline-block;
    margin-right: 100px;
  
  }
  
  .series_name{
    padding: 8px;
    margin-top: 2px;
    display: inline-block;
    color: #fff;
  
  }
  
  
  .btn{
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 8px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family: sans-serif;
  }
  
  
  
}